@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-color: theme('colors.background-light');
    color: theme('colors.slate.900');
    font-family: theme('fontFamily.display');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}